@import "./reset.css";
@import "./variables.css";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Estedad;
  font-size: 16px;
}
body.rtl {
  direction: rtl;
}

body.ltr {
  direction: ltr;
}

@font-face {
  font-family: "Estedad";
  src: url("../../assets/Fonts/Estedad-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Estedad";
  src: url("../../assets/Fonts/Estedad-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Estedad";
  src: url("../../assets/Fonts/Estedad-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Estedad";
  src: url("../../assets/Fonts/Estedad-Bold.woff2") format("woff2");
  font-weight: 700;
}

@theme {
  --breakpoint-sa: 300px;
}
@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
