@import "./reset.css";
@import "./variables.css";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 16px;
    direction: rtl;
}

@font-face {
    font-family: 'Estedad';
    src: url('../../assets/Fonts/Estedad-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Estedad';
    src: url('../../assets/Fonts/Estedad-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Estedad';
    src: url('../../assets/Fonts/Estedad-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Estedad';
    src: url('../../assets/Fonts/Estedad-Bold.woff2') format('woff2');

}

