@import "./reset.css";
@import "./variables.css";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {

    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 16px;
    direction: rtl;
}