@import "./reset.css";
@import "./variables.css";
@import "tailwindcss";
<<<<<<< HEAD


body {

    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 16px;
    direction: rtl;
}
=======
>>>>>>> 57d05d6796e7fad007a009e59f51d6095918ad64
