.courses__control {
  font-weight: 500 !important ;

  width: 200px;
  border: none !important;
  outline: none !important;
  border-radius: 28px !important;
  background-color: #00000000 !important;
  padding: 4px 8px !important;
  box-shadow: none !important;
  transition: border-color 0.2s ease-in-out !important;
  cursor: pointer !important;
  margin-left: 40px;
}

.courses__placeholder {
  text-align: center !important;
  color: #7e7e7e !important;
}

.courses__single-value {
  text-align: center !important;
  color: #111827 !important;
}

.courses__menu {
  border: 1px solid #008c778d !important;
  border-radius: 8px !important;
  background-color: #fff !important;
  margin-top: 4px !important;
  z-index: 10 !important;
}

.courses__option {
  padding: 8px 12px !important;
  cursor: pointer !important;
}

.courses__option--is-focused {
  background-color: #008c778d !important;
}

.courses__option--is-selected {
  background-color: #ffffff !important;
  color: #000000 !important;
}
@media (max-width: 1000px) {
  .courses__control {
    width: 170px;
  }
}
