@font-face {
  font-family: IRANSans;
  src: url(../Font/IRANSans.ttf);
}

* {
  font-family: IRANSans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f4f6;
  direction: rtl;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
