 HEAD * {
   margin: 0;
 }

 body {
   font-family: 'Estedad';
 }

 @font-face {
   font-family: IRANSans;
   src: url(../Font/IRANSans.ttf);
 }

 * {
   font-family: IRANSans;
   box-sizing: border-box;
 }

 body {
   background: #d6d6d6;
 }


 button,
 input,
 textarea {
   font-family: inherit;
   border: none;
   outline: none;
 }

 ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }